body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sitetitle{
  background-color: #009688;
  padding: 30px;
  text-align: center;
  color: white;
}

.steps{
  display: flex;  
  justify-content: center;  
  align-items: center;  
}

h1{
    font-size: 45px;
    text-align: center;
    margin-top: 0;
  }

#welcome {
  padding-left: 20px;
  width: 20%;
  font-weight: lighter;
  font-size: 1.2em;
}

/*form styling*/
.form > input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #333;
    border-radius: 5px;
    font-size: large;
  }
  
  .form > button{
    background-color: rgb(255, 118, 6);
    color: white;
    padding: 14px 40px;
    border: 1px solid #333;
    border-radius: 5px;
    text-align: center;
    margin-top: 3px;
    width: 100%;
    text-decoration: none;
    font-style: bold;
    font-size: large;
    display: inline-block;
  }
  
  .form > button:hover, .form > button:active{
    background-color: #9704aa;
  }

/* Link container */
  .container{
    display: flex;  
    justify-content: center;  
    align-items: center;  
  }

/* create account button */
  #createAccount{
    background-color: rgb(253, 147, 98);
    color: white;
    padding: 8px 12px;
    border: 1px solid #333;
    border-radius: 5px;
    text-align: center;
    margin-top: 5px;
    text-decoration: none;
    font-style: bold;
    display: inline-block;
  }

  #createAccount:hover, #createAccount:active #createAccount:visited {
    background-color: #9704aa;
  }

  /* logout link */

  /* Link container */
  #logoutContainer{
    display: flex;  
    justify-content: right;  
    align-items: right;  
    margin-top: -125px;
    margin-right: 10px;
  }

  #logout{
    background-color: rgb(255, 6, 6);
    color: white;
    padding: 8px 12px;
    border: 1px solid #333;
    border-radius: 5px;
    text-align: center;
    margin-top: 3px;
    text-decoration: none;
    font-style: bold;
    display: inline-block;
  }
  
  #logout:hover, #logout:active {
    background-color: #aa1d04;
  }
 
  /* search component */
  .wrapper {
   background-color: orange;
  }
  
  .search-icon {
    position: absolute;
    top: 60px;
    left: 8px;
    width: 14px;
  }
  
  .search{
    border-radius: 5px;
    width: 20%;
    padding: 10px;
    outline: 0;
    background-color: #f5f5f5;
    font-size: 17px;
    float: right;
  }
  
  .search:hover, .search:focus {
    border: 1.5px solid #009688;
    background-color: white;
  }

  .jContainer{
    background-color: yellow;
    margin-top: 80px;
  }

  .jContainer h4{
    background-color: #aa1d04;
  }

  .navbar{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .link{
    text-decoration: none;
    padding-right: 20px;
  }

  .link:hover, .link:active .link:visited {
    background-color: #0476aa;
    
  }